@tailwind base;

@layer components {
  header a {
    @apply text-slate-500 popy;
  }
  header li {
    @apply flex justify-center align-middle;
  }
}
@tailwind components;

.active {
  @apply border-b-2 border-[#d5b69c] no-underline popy font-bold text-[#d5b69c];
}

@layer components {
  .hamburger div:first-child {
    @apply rotate-45 translate-y-1.5;
  }
  .hamburger div:last-child {
    @apply -rotate-45 -translate-y-1;
  }
}

@tailwind utilities;

.popy {
  font-family: "Poppins", sans-serif;
}
.pfair {
  font-family: "Playfair Display", serif;
}
.comma {
  font-family: "BIZ UDMincho", serif;
}
.review {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: x-large;
  color: #d5b69c;
}
.name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: large;
  color: #a0a0a0;
}

/* .active {
  color: blueviolet;
  font-size: x-large;
} */

@import url("https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Babylonica&family=Frank+Ruhl+Libre:wght@300;900&family=Playfair+Display:wght@400;700&family=Poppins:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "BIZ UDMincho", serif;
  font-family: "Babylonica", cursive;
  font-family: "Frank Ruhl Libre", serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Playfair Display, Poppins, monospace;
}
